body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gameboard {
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    color: black;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 36px;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 100vh;
    max-width: 80%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.win {
    color: rgb(2, 66, 18);
    font-size: 2em;
    margin-bottom: 20px;
}

.draw {
    color: rgb(0, 0, 0);
    font-size: 2em;
    margin-bottom: 20px;
}

.lose {
    color: rgb(85, 9, 9);
    font-size: 2em;
    margin-bottom: 20px;
}

.return {
    margin-bottom: 20px;
    font-size: 1.1em;
    border: 3px black solid;
    border-radius: 6px;
    background-color: white;
    padding: 2px 8px;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: white;
    width: 100vh;
    height: 100vh;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#start.active {
    transform: translate(-50%, -50%) scale(1);
}

#start > p {
    font-size: 2em;
    margin-bottom: 60px;
    font-weight: 700;
}

#player {
    font-size: 1.3em;
    border: 3px solid black;
    border-radius: 6px;
    background-color: white;
    margin-right: 15px;
    padding: 2px 8px;
}

#easy-AI {
    font-size: 1.3em;
    border: 3px solid black;
    border-radius: 6px;
    background-color: white;
    margin-left: 15px;
    padding: 2px 8px;
}
